{% extends 'base.html' %}
{% block content %}
<h1 class="text-2xl mb-4">Inventory</h1>
<table class="min-w-full">
<thead><tr><th>MPN</th><th>On hand</th><th>On order</th></tr></thead>
<tbody>
{% for i in items %}
<tr hx-target="this" hx-swap="outerHTML">
<td>{{ i.mpn }}</td>
<td><input name="on_hand" type="number" value="{{ i.on_hand }}" class="border w-20" hx-patch="/inventory/{{ i.id }}" hx-include="closest tr" /></td>
<td><input name="on_order" type="number" value="{{ i.on_order }}" class="border w-20" hx-patch="/inventory/{{ i.id }}" hx-include="closest tr" /></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
